/* Jeremy Meyers, 11/30/2024 */
:root {
    --bg-color: #FAF3DD;
    --neutral-color: #191919DD;
    --primary: #FFA69E;
    --secondary: #FDCDBE;
}
html,
body {
    margin: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--bg-color);
    color: var(--neutral-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#wrapper {
    flex-basis: 99%;
    padding: 1.5em;
    background-color: var(--primary);
}
#num,
#calculate {
    background-color: var(--secondary);
    color: var(--neutral-color);
    border: 1px solid var(--bg-color) !important;
    border-radius: 0.4em;
    padding: 0.5em;
}
#paragraphs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1em;
}
#paragraphs > p {
    flex: 1 1 45%;
    margin: 0;
}

@media (min-width: 768px) {
    body {
        align-items: center;
    }
    #wrapper {
        flex-basis: 92.5%;
        aspect-ratio: 1.5;
    }
    #paragraphs > p {
        flex-basis: 20%;
    }
}

@media (min-width: 1024px) {
    body {
        align-items: center;
    }
    #wrapper {
        flex-basis: auto;
        border: 0.25em solid var(--bg-color);
        box-shadow: 0 0 0.25em 0.5em var(--secondary);
        border-radius: 0em;
        aspect-ratio: 2;
    }
}