/* Jeremy Meyers, 10/30/2024 */
/* Wes Bos's CSS */
html, body { 
    margin: 0;
}
/* My CSS */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Sora', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #02111B;
}
h1, h2 {
    margin: 0;
    border-bottom: 0.25em double #FF697880;
    border-radius: 0.25em;
}
label {
    text-align: center;
}
#paint {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    height: 100vh;
}
#sidebar {
    border: 5px inset #476C9B;
    border-right: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    overflow: auto;
    background-color: #B1EDE8;
    gap: 1.5em;
}
#tools {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: 1em;
}
.tool {
    background-color: #FF6978;
    color: #FFFCF9;
    padding: 1em;
    aspect-ratio: 1;
    border: 0.3em solid #B1EDE8;
    border-radius: 0.125em;
    box-shadow: 0 0 0 1px #222;
}
.tool:active {
    border: 0.3em groove #B1EDE8;
}
#color {
    visibility: hidden;
}
#color-picker {
    width: 4em;
    border: 0.4em solid #B1EDE8;
    box-shadow: 0 0 0 1px #222;
    aspect-ratio: 1;
    background-image: url("./paint-brush-drawing-icon-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    padding: 0;
}
#stroke-size {
    aspect-ratio: 3 / 1;
    font-weight: bold;
    font-size: 1.125em;
    padding: 0.75em 0.25em;
    width: 4em;
    margin-top: 0.5em;
}
#draw {
    border: 5px solid #476C9B;
    flex: 4.5;
}
#coloring-pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    overflow: auto;
    padding: 1em;
    border: 1px solid #476C9B;
    box-shadow: 0 0 0 0.25em #B1EDE8, 0 0 0 0.35em #222;
    border-radius: 0.125em;
}
.pages {
    border: 1px solid #222;
    max-width: 45%;
}
.selected-page {
    border: 4px solid #ccc;
    box-shadow: 0 0 5px 5px #fbff87;
}
.trash {
    background-image: url("./recycle-bin-line-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2em;
    aspect-ratio: 1;
    display: inline-block;
}